/* line 2, ../sass/stuff/_helpers.scss */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent; }

/* line 11, ../sass/stuff/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 17, ../sass/stuff/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  /* line 28, ../sass/stuff/_helpers.scss */
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* line 39, ../sass/stuff/_helpers.scss */
.invisible {
  visibility: hidden; }

/* line 44, ../sass/stuff/_helpers.scss */
.clearfix {
  *zoom: 1; }
  /* line 46, ../sass/stuff/_helpers.scss */
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  /* line 50, ../sass/stuff/_helpers.scss */
  .clearfix:after {
    clear: both; }

/* line 57, ../sass/stuff/_helpers.scss */
.left {
  text-align: left; }

/* line 61, ../sass/stuff/_helpers.scss */
.right {
  text-align: right; }

/* line 65, ../sass/stuff/_helpers.scss */
.center {
  text-align: center; }

/* line 16, ../sass/vendor/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/* line 23, ../sass/vendor/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 32, ../sass/vendor/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 40, ../sass/vendor/_normalize.scss */
[hidden] {
  display: none; }

/* line 51, ../sass/vendor/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/* line 62, ../sass/vendor/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* line 67, ../sass/vendor/_normalize.scss */
body {
  margin: 0; }

/* line 74, ../sass/vendor/_normalize.scss */
a:focus {
  outline: thin dotted; }

/* line 81, ../sass/vendor/_normalize.scss */
a:hover,
a:active {
  outline: 0; }

/* line 89, ../sass/vendor/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 94, ../sass/vendor/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 99, ../sass/vendor/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 104, ../sass/vendor/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 109, ../sass/vendor/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 114, ../sass/vendor/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/* line 120, ../sass/vendor/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 126, ../sass/vendor/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 130, ../sass/vendor/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/* line 135, ../sass/vendor/_normalize.scss */
dfn {
  font-style: italic; }

/* line 140, ../sass/vendor/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 147, ../sass/vendor/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/* line 156, ../sass/vendor/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 164, ../sass/vendor/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 176, ../sass/vendor/_normalize.scss */
q {
  quotes: none; }

/* line 182, ../sass/vendor/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 187, ../sass/vendor/_normalize.scss */
small {
  font-size: 75%; }

/* line 195, ../sass/vendor/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 202, ../sass/vendor/_normalize.scss */
sup {
  top: -0.5em; }

/* line 206, ../sass/vendor/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 216, ../sass/vendor/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 220, ../sass/vendor/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 227, ../sass/vendor/_normalize.scss */
menu,
ol,
ul {
  padding: 0; }

/* line 233, ../sass/vendor/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* line 243, ../sass/vendor/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* line 249, ../sass/vendor/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 255, ../sass/vendor/_normalize.scss */
figure {
  margin: 0; }

/* line 261, ../sass/vendor/_normalize.scss */
form {
  margin: 0; }

/* line 266, ../sass/vendor/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 275, ../sass/vendor/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 288, ../sass/vendor/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 297, ../sass/vendor/_normalize.scss */
button,
input {
  line-height: normal; }

/* line 309, ../sass/vendor/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/* line 317, ../sass/vendor/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/* line 326, ../sass/vendor/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 336, ../sass/vendor/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 345, ../sass/vendor/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* line 352, ../sass/vendor/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 359, ../sass/vendor/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 365, ../sass/vendor/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "segoewp";
  src: url('/kasinski/css/fonts/segoewp.eot');
  src: url('/kasinski/css/fonts/segoewp.eot?#iefix') format('eot'), url('/kasinski/css/fonts/segoewp.woff') format('woff'), url('/kasinski/css/fonts/segoewp.ttf') format('truetype'), url('/kasinski/css/fonts/segoewp.svg#segoewp') format('svg'), url('/kasinski/css/fonts/segoewp.eot?#iefix') format('embedded-opentype'); }

@font-face {
  font-family: "segoewp-light";
  src: url('/kasinski/css/fonts/segoewp-light.eot');
  src: url('/kasinski/css/fonts/segoewp-light.eot?#iefix') format('eot'), url('/kasinski/css/fonts/segoewp-light.woff') format('woff'), url('/kasinski/css/fonts/segoewp-light.ttf') format('truetype'), url('/kasinski/css/fonts/segoewp-light.svg#segoewp-light') format('svg'), url('/kasinski/css/fonts/segoewp-light.eot?#iefix') format('embedded-opentype'); }

@font-face {
  font-family: "segoewp-black";
  src: url('/kasinski/css/fonts/segoewp-black.eot');
  src: url('/kasinski/css/fonts/segoewp-black.eot?#iefix') format('eot'), url('/kasinski/css/fonts/segoewp-black.woff') format('woff'), url('/kasinski/css/fonts/segoewp-black.ttf') format('truetype'), url('/kasinski/css/fonts/segoewp-black.svg#segoewp-black') format('svg'), url('/kasinski/css/fonts/segoewp-black.eot?#iefix') format('embedded-opentype'); }

@font-face {
  font-family: "segoewp-bold";
  src: url('/kasinski/css/fonts/segoewp-bold.eot');
  src: url('/kasinski/css/fonts/segoewp-bold.eot?#iefix') format('eot'), url('/kasinski/css/fonts/segoewp-bold.woff') format('woff'), url('/kasinski/css/fonts/segoewp-bold.ttf') format('truetype'), url('/kasinski/css/fonts/segoewp-bold.svg#segoewp-bold') format('svg'), url('/kasinski/css/fonts/segoewp-bold.eot?#iefix') format('embedded-opentype'); }

@font-face {
  font-family: "segoewp-semibold";
  src: url('/kasinski/css/fonts/segoewp-semibold.eot');
  src: url('/kasinski/css/fonts/segoewp-semibold.eot?#iefix') format('eot'), url('/kasinski/css/fonts/segoewp-semibold.woff') format('woff'), url('/kasinski/css/fonts/segoewp-semibold.ttf') format('truetype'), url('/kasinski/css/fonts/segoewp-semibold.svg#segoewp-semibold') format('svg'), url('/kasinski/css/fonts/segoewp-semibold.eot?#iefix') format('embedded-opentype'); }

@font-face {
  font-family: "segoewp-semilight";
  src: url('/kasinski/css/fonts/segoewp-semilight.eot');
  src: url('/kasinski/css/fonts/segoewp-semilight.eot?#iefix') format('eot'), url('/kasinski/css/fonts/segoewp-semilight.woff') format('woff'), url('/kasinski/css/fonts/segoewp-semilight.ttf') format('truetype'), url('/kasinski/css/fonts/segoewp-semilight.svg#segoewp-semilight') format('svg'), url('/kasinski/css/fonts/segoewp-semilight.eot?#iefix') format('embedded-opentype'); }

@font-face {
  font-family: "segoewpn";
  src: url('/kasinski/css/fonts/segoewpn.eot');
  src: url('/kasinski/css/fonts/segoewpn.eot?#iefix') format('eot'), url('/kasinski/css/fonts/segoewpn.woff') format('woff'), url('/kasinski/css/fonts/segoewpn.ttf') format('truetype'), url('/kasinski/css/fonts/segoewpn.svg#segoewpn') format('svg'), url('/kasinski/css/fonts/segoewpn.eot?#iefix') format('embedded-opentype'); }

@font-face {
  font-family: "segoewpn-light";
  src: url('/kasinski/css/fonts/segoewpn-light.eot');
  src: url('/kasinski/css/fonts/segoewpn-light.eot?#iefix') format('eot'), url('/kasinski/css/fonts/segoewpn-light.woff') format('woff'), url('/kasinski/css/fonts/segoewpn-light.ttf') format('truetype'), url('/kasinski/css/fonts/segoewpn-light.svg#segoewpn-light') format('svg'), url('/kasinski/css/fonts/segoewpn-light.eot?#iefix') format('embedded-opentype'); }

@font-face {
  font-family: "segoewpn-black";
  src: url('/kasinski/css/fonts/segoewpn-black.eot');
  src: url('/kasinski/css/fonts/segoewpn-black.eot?#iefix') format('eot'), url('/kasinski/css/fonts/segoewpn-black.woff') format('woff'), url('/kasinski/css/fonts/segoewpn-black.ttf') format('truetype'), url('/kasinski/css/fonts/segoewpn-black.svg#segoewpn-black') format('svg'), url('/kasinski/css/fonts/segoewpn-black.eot?#iefix') format('embedded-opentype'); }

@font-face {
  font-family: "segoewpn-bold";
  src: url('/kasinski/css/fonts/segoewpn-bold.eot');
  src: url('/kasinski/css/fonts/segoewpn-bold.eot?#iefix') format('eot'), url('/kasinski/css/fonts/segoewpn-bold.woff') format('woff'), url('/kasinski/css/fonts/segoewpn-bold.ttf') format('truetype'), url('/kasinski/css/fonts/segoewpn-bold.svg#segoewpn-bold') format('svg'), url('/kasinski/css/fonts/segoewpn-bold.eot?#iefix') format('embedded-opentype'); }

@font-face {
  font-family: "segoewpn-semibold";
  src: url('/kasinski/css/fonts/segoewpn-semibold.eot');
  src: url('/kasinski/css/fonts/segoewpn-semibold.eot?#iefix') format('eot'), url('/kasinski/css/fonts/segoewpn-semibold.woff') format('woff'), url('/kasinski/css/fonts/segoewpn-semibold.ttf') format('truetype'), url('/kasinski/css/fonts/segoewpn-semibold.svg#segoewpn-semibold') format('svg'), url('/kasinski/css/fonts/segoewpn-semibold.eot?#iefix') format('embedded-opentype'); }

@font-face {
  font-family: "segoewpn-semilight";
  src: url('/kasinski/css/fonts/segoewpn-semilight.eot');
  src: url('/kasinski/css/fonts/segoewpn-semilight.eot?#iefix') format('eot'), url('/kasinski/css/fonts/segoewpn-semilight.woff') format('woff'), url('/kasinski/css/fonts/segoewpn-semilight.ttf') format('truetype'), url('/kasinski/css/fonts/segoewpn-semilight.svg#segoewpn-semilight') format('svg'), url('/kasinski/css/fonts/segoewpn-semilight.eot?#iefix') format('embedded-opentype'); }

/* line 1, ../sass/front/_geral.scss */
html {
  overflow-y: scroll; }

/* line 3, ../sass/front/_geral.scss */
body {
  background: black;
  font-family: "segoewp", Tahoma, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  color: #333333; }

/* line 9, ../sass/front/_geral.scss */
p {
  font-family: "segoewpn", Tahoma, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }

/* line 13, ../sass/front/_geral.scss */
strong, b {
  font-family: "segoewpn-bold", Tahoma, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }

/* line 18, ../sass/front/_geral.scss */
header {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  overflow: hidden;
  *zoom: 1; }
  /* line 22, ../sass/front/_geral.scss */
  header nav {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 940px;
    background-image: url('/kasinski/img/menu_bg.png?1339651993');
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #000000; }
    /* line 32, ../sass/front/_geral.scss */
    header nav a.logo {
      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden;
      background-image: url('/kasinski/img/menu_logo.png?1339648391');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 40px;
      height: 38px;
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 40px;
      margin-left: 0; }
    /* line 38, ../sass/front/_geral.scss */
    header nav ul {
      margin: 0;
      padding: 0;
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 880px;
      margin-left: 0;
      margin-right: 0; }
    /* line 45, ../sass/front/_geral.scss */
    header nav li {
      min-height: 38px;
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 100px;
      margin-left: 0;
      margin-right: 0;
      width: 110px; }
      /* line 52, ../sass/front/_geral.scss */
      header nav li:hover ul.submenu {
        display: block; }
    /* line 54, ../sass/front/_geral.scss */
    header nav li a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 38px;
      font-family: "segoewp", Tahoma, Helvetica, Arial, sans-serif;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
      font-size: 11px;
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      background: transparent url('/kasinski/img/menu_divisor.png?1339648446') no-repeat right top; }
    /* line 60, ../sass/front/_geral.scss */
    header nav ul.submenu {
      width: 110px;
      margin: -1px -1px;
      padding: 10px 0;
      background: #333333;
      display: none;
      position: absolute;
      z-index: 1000; }
      /* line 69, ../sass/front/_geral.scss */
      header nav ul.submenu li {
        height: 24px;
        min-height: 24px;
        line-height: 24px;
        margin: 0;
        padding: 2px 0; }
      /* line 76, ../sass/front/_geral.scss */
      header nav ul.submenu li a {
        background-image: none;
        height: 24px;
        line-height: 24px; }
        /* line 80, ../sass/front/_geral.scss */
        header nav ul.submenu li a:hover {
          background: #545454; }
      /* line 85, ../sass/front/_geral.scss */
      header nav ul.submenu.produtos {
        width: 940px !important;
        height: 100px !important;
        background: white url('/kasinski/img/menu_motos_bg.png?1339970655') no-repeat left top;
        margin: 0;
        padding: 0;
        border: 0;
        overflow: hidden;
        *zoom: 1;
        margin-left: -160px; }
        /* line 60, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
        header nav ul.submenu.produtos li {
          list-style-image: none;
          list-style-type: none;
          margin-left: 0;
          white-space: nowrap;
          display: inline;
          float: left;
          padding-left: 4px;
          padding-right: 4px; }
          /* line 48, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
          header nav ul.submenu.produtos li:first-child, header nav ul.submenu.produtos li.first {
            padding-left: 0; }
          /* line 49, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
          header nav ul.submenu.produtos li:last-child {
            padding-right: 0; }
          /* line 50, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
          header nav ul.submenu.produtos li.last {
            padding-right: 0; }
        /* line 92, ../sass/front/_geral.scss */
        header nav ul.submenu.produtos li {
          width: 120px;
          height: 100px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background: transparent url('/kasinski/img/menu_motos_divisor.png?1339976269') no-repeat right center; }
          /* line 98, ../sass/front/_geral.scss */
          header nav ul.submenu.produtos li.atual, header nav ul.submenu.produtos li:hover {
            border-bottom: 5px solid #cc3333; }
        /* line 103, ../sass/front/_geral.scss */
        header nav ul.submenu.produtos li a {
          display: block;
          width: 100%;
          height: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-align: center;
          text-decoration: none;
          color: black;
          line-height: 15px;
          padding-top: 10px; }
          /* line 114, ../sass/front/_geral.scss */
          header nav ul.submenu.produtos li a:hover {
            background: none; }
    /* line 121, ../sass/front/_geral.scss */
    header nav li.busca {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 220px;
      margin-left: 0;
      margin-right: 0; }

/* line 129, ../sass/front/_geral.scss */
.header {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 78px;
  padding: 20px 0 0 40px;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
  -webkit-box-shadow: black 0px 10px;
  -moz-box-shadow: black 0px 10px;
  box-shadow: black 0px 10px; }

/* line 139, ../sass/front/_geral.scss */
#main {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  overflow: hidden;
  *zoom: 1; }

/* line 146, ../sass/front/_geral.scss */
.interna .conteudo {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 820px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
  background: white url('/kasinski/img/home_destaque_bg.png?1339979829') repeat left top; }

/* line 155, ../sass/front/_geral.scss */
footer {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  overflow: hidden;
  *zoom: 1; }
  /* line 159, ../sass/front/_geral.scss */
  footer .social {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 209px;
    padding: 10px 0;
    background: transparent url('/kasinski/img/social_bg.png?1339986175') no-repeat top center; }
    /* line 166, ../sass/front/_geral.scss */
    footer .social .twitter {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 520px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 190px;
      border-right: 1px dashed #c3c3c3;
      padding: 10px; }
      /* line 173, ../sass/front/_geral.scss */
      footer .social .twitter .twitter_logo {
        display: inline;
        float: left;
        margin-left: 50px;
        margin-top: 50px; }
      /* line 179, ../sass/front/_geral.scss */
      footer .social .twitter .conteudo {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline;
        float: left;
        width: 360px;
        padding: 10px; }
        /* line 185, ../sass/front/_geral.scss */
        footer .social .twitter .conteudo .titulo {
          color: #cc3333;
          font-family: "segoewp-black", Tahoma, Helvetica, Arial, sans-serif;
          text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
          text-decoration: none;
          font-size: 20px; }
          /* line 191, ../sass/front/_geral.scss */
          footer .social .twitter .conteudo .titulo img {
            vertical-align: text-bottom;
            margin-left: 10px; }
        /* line 198, ../sass/front/_geral.scss */
        footer .social .twitter .conteudo p .data {
          font-family: "segoewp-bold", Tahoma, Helvetica, Arial, sans-serif;
          text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
        /* line 202, ../sass/front/_geral.scss */
        footer .social .twitter .conteudo p a {
          color: #cc3333; }
    /* line 209, ../sass/front/_geral.scss */
    footer .social .facebook {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 400px;
      margin-right: 0;
      padding-top: 30px; }
      /* line 214, ../sass/front/_geral.scss */
      footer .social .facebook .fb-like-box {
        background: white; }
  /* line 221, ../sass/front/_geral.scss */
  footer .sitemap .cima {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    overflow: hidden;
    *zoom: 1;
    height: 85px;
    background: transparent url('/kasinski/img/footer_sitemap_cima_bg.png?1340073624') no-repeat top center; }
    /* line 227, ../sass/front/_geral.scss */
    footer .sitemap .cima h3 {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 220px;
      padding-left: 60px;
      margin-left: 0;
      margin-right: 0;
      font-family: "segoewpn-black", Tahoma, Helvetica, Arial, sans-serif;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
    /* line 235, ../sass/front/_geral.scss */
    footer .sitemap .cima .newsletter {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 400px;
      height: 85px; }
      /* line 239, ../sass/front/_geral.scss */
      footer .sitemap .cima .newsletter label {
        font-family: "segoewpn-black", Tahoma, Helvetica, Arial, sans-serif;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
        font-size: 14px; }
      /* line 244, ../sass/front/_geral.scss */
      footer .sitemap .cima .newsletter form {
        width: 340px;
        height: 30px;
        box-shadow: inset 0 0 5px #000000;
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 5px; }
        /* line 253, ../sass/front/_geral.scss */
        footer .sitemap .cima .newsletter form input {
          border: 0;
          font-family: "segoewpn", Tahoma, Helvetica, Arial, sans-serif;
          text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
          font-size: 11px;
          color: #999999;
          width: 248px; }
        /* line 261, ../sass/front/_geral.scss */
        footer .sitemap .cima .newsletter form button {
          width: 75px;
          height: 20px;
          border: 0;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px;
          border-radius: 2px;
          font-family: "segoewp-black", Tahoma, Helvetica, Arial, sans-serif;
          text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
          font-size: 10px;
          color: #ffffff;
          background: #999999; }
    /* line 273, ../sass/front/_geral.scss */
    footer .sitemap .cima .social_links {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 220px;
      margin-left: 0;
      height: 70px;
      padding-top: 15px; }
      /* line 279, ../sass/front/_geral.scss */
      footer .sitemap .cima .social_links a {
        width: 32px;
        height: 32px;
        display: block;
        display: inline;
        float: left;
        margin-right: 10px; }
        /* line 286, ../sass/front/_geral.scss */
        footer .sitemap .cima .social_links a.facebook {
          text-indent: 110%;
          white-space: nowrap;
          overflow: hidden;
          background-image: url('/kasinski/img/sitemap_social_links.png?1340073753');
          background-repeat: no-repeat;
          background-position: 0 0; }
        /* line 289, ../sass/front/_geral.scss */
        footer .sitemap .cima .social_links a.twitter {
          text-indent: 110%;
          white-space: nowrap;
          overflow: hidden;
          background-image: url('/kasinski/img/sitemap_social_links.png?1340073753');
          background-repeat: no-repeat;
          background-position: -42px 0; }
        /* line 292, ../sass/front/_geral.scss */
        footer .sitemap .cima .social_links a.flickr {
          text-indent: 110%;
          white-space: nowrap;
          overflow: hidden;
          background-image: url('/kasinski/img/sitemap_social_links.png?1340073753');
          background-repeat: no-repeat;
          background-position: -90px 0; }
        /* line 295, ../sass/front/_geral.scss */
        footer .sitemap .cima .social_links a.youtube {
          text-indent: 110%;
          white-space: nowrap;
          overflow: hidden;
          background-image: url('/kasinski/img/sitemap_social_links.png?1340073753');
          background-repeat: no-repeat;
          background-position: -135px 0; }
        /* line 298, ../sass/front/_geral.scss */
        footer .sitemap .cima .social_links a.blog {
          text-indent: 110%;
          white-space: nowrap;
          overflow: hidden;
          background-image: url('/kasinski/img/sitemap_social_links.png?1340073753');
          background-repeat: no-repeat;
          background-position: -180px 0;
          margin: 0; }
  /* line 305, ../sass/front/_geral.scss */
  footer .sitemap .baixo {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 940px;
    background: transparent url('/kasinski/img/footer_sitemap_baixo_bg.png?1340073668') no-repeat top center; }
    /* line 309, ../sass/front/_geral.scss */
    footer .sitemap .baixo ul {
      margin-left: 40px;
      width: 920px; }
      /* line 313, ../sass/front/_geral.scss */
      footer .sitemap .baixo ul li {
        border-left: 2px solid #cbcbcb;
        display: inline;
        width: 20%;
        display: inline;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        /* line 320, ../sass/front/_geral.scss */
        footer .sitemap .baixo ul li a {
          display: block;
          padding: 2px 10px;
          color: #000000;
          text-decoration: none;
          font-family: "segoewp", Tahoma, Helvetica, Arial, sans-serif;
          text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
          font-size: 14px; }
    /* line 331, ../sass/front/_geral.scss */
    footer .sitemap .baixo .direitos {
      overflow: hidden;
      *zoom: 1;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      padding: 20px 40px;
      color: #666666;
      font-family: "segoewp", Tahoma, Helvetica, Arial, sans-serif;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
      font-size: 11px; }

/* line 28, ../sass/screen.scss */
.home .slider {
  position: relative;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px; }
  /* line 32, ../sass/screen.scss */
  .home .slider .dots {
    position: absolute;
    width: auto;
    right: 40px;
    bottom: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1; }
    /* line 60, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    .home .slider .dots li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      /* line 48, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
      .home .slider .dots li:first-child, .home .slider .dots li.first {
        padding-left: 0; }
      /* line 49, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
      .home .slider .dots li:last-child {
        padding-right: 0; }
      /* line 50, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
      .home .slider .dots li.last {
        padding-right: 0; }
    /* line 39, ../sass/screen.scss */
    .home .slider .dots li {
      width: 14px;
      height: 14px;
      margin: 0 3px; }
      /* line 44, ../sass/screen.scss */
      .home .slider .dots li a {
        display: block;
        text-indent: 110%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url('/kasinski/img/home_slider_dot.png?1339977928');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 14px;
        height: 14px; }
        /* line 48, ../sass/screen.scss */
        .home .slider .dots li a:hover, .home .slider .dots li a.atual {
          text-indent: 110%;
          white-space: nowrap;
          overflow: hidden;
          background-image: url('/kasinski/img/home_slider_dot_atual.png?1339977907');
          background-repeat: no-repeat;
          background-position: 50% 50%;
          width: 14px;
          height: 14px; }
  /* line 55, ../sass/screen.scss */
  .home .slider .destaques {
    height: 382px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1; }
    /* line 60, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    .home .slider .destaques li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      /* line 48, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
      .home .slider .destaques li:first-child, .home .slider .destaques li.first {
        padding-left: 0; }
      /* line 49, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
      .home .slider .destaques li:last-child {
        padding-right: 0; }
      /* line 50, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
      .home .slider .destaques li.last {
        padding-right: 0; }
    /* line 60, ../sass/screen.scss */
    .home .slider .destaques li {
      width: 940px;
      background: white url('/kasinski/img/home_destaque_bg.png?1339979829') repeat-x top right;
      margin-left: auto;
      margin-right: auto;
      width: 960px; }
      /* line 65, ../sass/screen.scss */
      .home .slider .destaques li img {
        display: inline;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        width: 580px;
        margin-left: 0; }
      /* line 69, ../sass/screen.scss */
      .home .slider .destaques li div {
        display: inline;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        width: 340px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 40px; }
        /* line 74, ../sass/screen.scss */
        .home .slider .destaques li div h2 {
          white-space: pre;
          white-space: pre-wrap;
          white-space: pre-line;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -hp-pre-wrap;
          word-wrap: break-word;
          font-family: "segoewpn-black", Tahoma, Helvetica, Arial, sans-serif;
          text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
          font-size: 30px;
          font-style: italic;
          line-height: 25px; }
        /* line 82, ../sass/screen.scss */
        .home .slider .destaques li div p {
          white-space: pre;
          white-space: pre-wrap;
          white-space: pre-line;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -hp-pre-wrap;
          word-wrap: break-word;
          font-family: "segoewpn", Tahoma, Helvetica, Arial, sans-serif;
          text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
          /* line 85, ../sass/screen.scss */
          .home .slider .destaques li div p font {
            size: 14px;
            weight: bold; }
        /* line 91, ../sass/screen.scss */
        .home .slider .destaques li div a.leia-mais {
          color: #cc3333; }
          /* line 93, ../sass/screen.scss */
          .home .slider .destaques li div a.leia-mais:hover {
            color: black; }

/* line 103, ../sass/screen.scss */
.carrosel-noticias {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  margin-left: 0;
  margin-right: 0;
  width: 960px;
  height: 200px;
  background-color: transparent;
  background-image: url('/kasinski/img/carrosel_noticias_bg.png?1339979906');
  background-repeat: no-repeat;
  background-position: 10px 0px;
  -webkit-background-size: 940px 200px;
  -moz-background-size: 940px 200px;
  -o-background-size: 940px 200px;
  background-size: 940px 200px;
  position: relative; }
  /* line 118, ../sass/screen.scss */
  .carrosel-noticias .seta {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 200px;
    position: absolute;
    top: 0; }
    /* line 124, ../sass/screen.scss */
    .carrosel-noticias .seta.esquerda {
      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden;
      background-image: url('/kasinski/img/seta_esquerda.png?1339979958');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      margin-left: 0;
      left: 0; }
    /* line 129, ../sass/screen.scss */
    .carrosel-noticias .seta.direita {
      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden;
      background-image: url('/kasinski/img/seta_direita.png?1339979980');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      margin-right: 0;
      right: 0; }
  /* line 136, ../sass/screen.scss */
  .carrosel-noticias .container-noticias {
    width: 850px;
    margin-left: 45px;
    overflow: hidden; }
  /* line 142, ../sass/screen.scss */
  .carrosel-noticias .noticias {
    width: 30000px; }
    /* line 145, ../sass/screen.scss */
    .carrosel-noticias .noticias li {
      display: inline;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 271px;
      height: 150px;
      background: #222222 url('/kasinski/img/carrosel_noticias_item_bg.png?1339980184') no-repeat left top;
      color: #ffffff;
      margin-left: 15px;
      padding: 10px;
      position: relative; }
      /* line 156, ../sass/screen.scss */
      .carrosel-noticias .noticias li .call-to-action {
        position: absolute;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 5px;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        text-align: center;
        text-decoration: none;
        left: 0;
        bottom: 0; }

/* line 174, ../sass/screen.scss */
.institucional h2 {
  font-family: "segoewpn-black", Tahoma, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  font-style: italic;
  text-transform: uppercase; }
/* line 175, ../sass/screen.scss */
.institucional .texto {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  -o-column-gap: 60px;
  column-gap: 60px;
  font-size: 12px; }

/* line 183, ../sass/screen.scss */
.noticias h2 {
  font-family: "segoewpn-black", Tahoma, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  font-size: 36px;
  font-style: italic;
  text-transform: uppercase; }
/* line 185, ../sass/screen.scss */
.noticias .texto ul {
  width: 100%; }
  /* line 188, ../sass/screen.scss */
  .noticias .texto ul li {
    list-style: none;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #c1c1c1;
    display: inline;
    float: left; }
    /* line 196, ../sass/screen.scss */
    .noticias .texto ul li .imagem {
      display: inline;
      float: left;
      width: 200px; }
    /* line 200, ../sass/screen.scss */
    .noticias .texto ul li .dados {
      display: inline;
      float: left;
      width: 615px; }
      /* line 204, ../sass/screen.scss */
      .noticias .texto ul li .dados h3 {
        font-family: "segoewpn-black", Tahoma, Helvetica, Arial, sans-serif;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
        font-size: 16px;
        margin: 0; }
        /* line 209, ../sass/screen.scss */
        .noticias .texto ul li .dados h3 span {
          color: #cc3333;
          display: block;
          width: 100%; }
      /* line 216, ../sass/screen.scss */
      .noticias .texto ul li .dados p {
        font-size: 12px; }

/* line 226, ../sass/screen.scss */
.premios h2 {
  font-family: "segoewpn-black", Tahoma, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  font-size: 36px;
  font-style: italic;
  text-transform: uppercase; }
/* line 228, ../sass/screen.scss */
.premios .texto ul {
  width: 100%; }
  /* line 231, ../sass/screen.scss */
  .premios .texto ul li {
    list-style: none;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #c1c1c1;
    display: inline;
    float: left; }
    /* line 239, ../sass/screen.scss */
    .premios .texto ul li .imagem {
      display: inline;
      float: left;
      width: 200px; }
    /* line 243, ../sass/screen.scss */
    .premios .texto ul li .dados {
      display: inline;
      float: left;
      width: 615px; }
      /* line 247, ../sass/screen.scss */
      .premios .texto ul li .dados h3 {
        font-family: "segoewpn-black", Tahoma, Helvetica, Arial, sans-serif;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
        font-size: 16px;
        margin: 0; }
        /* line 252, ../sass/screen.scss */
        .premios .texto ul li .dados h3 span {
          color: #cc3333;
          display: block;
          width: 100%; }
      /* line 259, ../sass/screen.scss */
      .premios .texto ul li .dados p {
        font-size: 12px; }
