@import "compass";
@import "960/grid";

@import "stuff/vars";
@import "stuff/mixins";
@import "stuff/helpers";

@import "vendor/normalize";

@include fontface("segoewp");
@include fontface("segoewp-light");
@include fontface("segoewp-black");
@include fontface("segoewp-bold");
@include fontface("segoewp-semibold");
@include fontface("segoewp-semilight");
@include fontface("segoewpn");
@include fontface("segoewpn-light");
@include fontface("segoewpn-black");
@include fontface("segoewpn-bold");
@include fontface("segoewpn-semibold");
@include fontface("segoewpn-semilight");

@import "front/geral";

// Media queries
// @import "media/device";
.home {
	.slider {
		position: relative;
		@include grid(16);

		.dots {
			position: absolute;
			width: auto;
			right: 40px;
			bottom: 10px;
			@include horizontal-list;

			li {
				width:14px;
				height: 14px;
				margin: 0 3px;

				a {
					display:block;
					@include replace-text-with-dimensions('home_slider_dot.png');

					&:hover, &.atual {
						@include replace-text-with-dimensions('home_slider_dot_atual.png');
					}
				}
			}
		}

		.destaques {
			height: 382px;
			width: 100%;
			@include horizontal-list;

			li {
				width: $ninesixty-grid-width - ( $ninesixty-gutter-width );
				background: white image-url("home_destaque_bg.png") repeat-x top right;
				@include grid_container;

				img {
					@include grid(10);
					@include alpha;
				}
				div {  
					@include grid(6);
					@include box-sizing(border-box);
					padding-right: 40px;

					h2 {
						@include force-wrap;
						@include fontfamily("segoewpn-black");
						font-size: 30px;
						font-style: italic;
						line-height:25px;
					}

					p {
						@include force-wrap;
						@include fontfamily("segoewpn");
						font {
						    size: 14px;
						    weight: bold;
						}
					}

					a.leia-mais {
						color: $red;
						&:hover {
							color:black;
						}
					}
				}
			}
		}
	}
}

.carrosel-noticias {
	@include grid(16);
	@include alpha;
	@include omega;
	width: 960px;
	height: 200px;
	background:{
		color: transparent;
		image: image-url("carrosel_noticias_bg.png");
		repeat: no-repeat;
		position: 10px 0px;
	} 
	@include background-size(940px 200px);
	position: relative;

	.seta {
		@include grid(1);
		height: 200px;
		position: absolute;
		top:0;

		&.esquerda {
			@include replace-text('seta_esquerda.png');
			@include alpha;
			left:0;
		}
		&.direita {
			@include replace-text('seta_direita.png');
			@include omega;
			right:0;
		}
	}

	.container-noticias {
		width: 850px;
		margin-left: 45px;
		overflow: hidden;
	}

	.noticias {
		width: 30000px;

		li {
			@include float-left;
			@include box-sizing(border-box);
			width: 271px;
			height: 150px;
			background: #222222 image-url("carrosel_noticias_item_bg.png") no-repeat left top;
			color: #ffffff;
			margin-left: 15px;
			padding: 10px;
			position: relative;

			.call-to-action {
				position: absolute;
				display: block;
				@include box-sizing(border-box);
				width: 100%;
				padding: 5px;
				background: rgba(0,0,0,0.3);
				color: white;
				text-align: center;
				text-decoration: none;
				left:0;
				bottom:0;
			}
		}
	}
}

.institucional {
	h2 { @include titulo; }
	.texto {
		@include column-count(2);
		@include column-gap(60px);
		font-size: 12px;
	}
}

.noticias {
	h2 { @include titulo($size:36px); }
	.texto {
		ul {
			width: 100%;

			li {
				list-style: none;
				width: 100%;
				padding: 20px 0;
				margin: 0;
				border-bottom: 1px solid #c1c1c1;
				@include float-left;

				.imagem {
					@include float-left;
					width: 200px;
				}
				.dados {
					@include float-left;
					width: 615px;

					h3 {
						@include fontfamily('segoewpn-black');
						font-size: 16px;
						margin: 0;

						span {
							color: $red;
							display: block;
							width: 100%;
						}
					}

					p {
						font-size: 12px;
					}
				}
			}
		}
	}
}

.premios {
	h2 { @include titulo($size:36px); }
	.texto {
		ul {
			width: 100%;

			li {
				list-style: none;
				width: 100%;
				padding: 20px 0;
				margin: 0;
				border-bottom: 1px solid #c1c1c1;
				@include float-left;

				.imagem {
					@include float-left;
					width: 200px;
				}
				.dados {
					@include float-left;
					width: 615px;

					h3 {
						@include fontfamily('segoewpn-black');
						font-size: 16px;
						margin: 0;

						span {
							color: $red;
							display: block;
							width: 100%;
						}
					}

					p {
						font-size: 12px;
					}
				}
			}
		}
	}
}