@import "compass";
@import "960/grid";

@import "stuff/vars";
@import "stuff/mixins";
@import "stuff/helpers";

@import "vendor/normalize";

@include fontface("segoewp");
@include fontface("segoewp-light");
@include fontface("segoewp-black");
@include fontface("segoewp-bold");
@include fontface("segoewp-semibold");
@include fontface("segoewp-semilight");
@include fontface("segoewpn");
@include fontface("segoewpn-light");
@include fontface("segoewpn-black");
@include fontface("segoewpn-bold");
@include fontface("segoewpn-semibold");
@include fontface("segoewpn-semilight");

@import "front/geral";

// Media queries
// @import "media/device";
.home {
	.slider {
		position: relative;
		@include grid(16);

		.dots {
			position: absolute;
			width: auto;
			right: 40px;
			bottom: 10px;
			@include horizontal-list;

			li {
				width:14px;
				height: 14px;
				margin: 0 3px;

				a {
					display:block;
					@include replace-text-with-dimensions('home_slider_dot.png');

					&:hover, &.atual {
						@include replace-text-with-dimensions('home_slider_dot_atual.png');
					}
				}
			}
		}

		.destaques {
			height: 382px;
			width: 100%;
			@include horizontal-list;

			li {
				width: $ninesixty-grid-width - ( $ninesixty-gutter-width );
				background: white image-url("home_destaque_bg.png") repeat-x top right;
				@include grid_container;

				img {
					@include grid(10);
					@include alpha;
				}
				div {  
					@include grid(6);
					@include box-sizing(border-box);
					padding-right: 40px;

					h2 {
						@include force-wrap;
						@include fontfamily("segoewpn-black");
						font-size: 30px;
						font-style: italic;
						line-height:25px;
					}

					p {
						@include force-wrap;
						@include fontfamily("segoewpn");
						font {
						    size: 14px;
						    weight: bold;
						}
					}

					a.leia-mais {
						color: $red;
						&:hover {
							color:black;
						}
					}
				}
			}
		}
	}
}

.carrosel-noticias {
	@include grid(16);
	@include alpha;
	@include omega;
	width: 960px;
	height: 200px;
	background:{
		color: transparent;
		image: image-url("carrosel_noticias_bg.png");
		repeat: no-repeat;
		position: 10px 0px;
	} 
	@include background-size(940px 200px);
	position: relative;

	.seta {
		@include grid(1);
		height: 200px;
		position: absolute;
		top:0;

		&.esquerda {
			@include replace-text('seta_esquerda.png');
			@include alpha;
			left:0;
		}
		&.direita {
			@include replace-text('seta_direita.png');
			@include omega;
			right:0;
		}
	}

	.container-noticias {
		width: 850px;
		margin-left: 45px;
		overflow: hidden;
	}

	.noticias {
		width: 30000px;

		li {
			@include float-left;
			@include box-sizing(border-box);
			width: 271px;
			height: 150px;
			background: #222222 image-url("carrosel_noticias_item_bg.png") no-repeat left top;
			color: #ffffff;
			margin-left: 15px;
			padding: 10px;
			position: relative;

			.call-to-action {
				position: absolute;
				display: block;
				@include box-sizing(border-box);
				width: 100%;
				padding: 5px;
				background: rgba(0,0,0,0.3);
				color: white;
				text-align: center;
				text-decoration: none;
				left:0;
				bottom:0;
			}
		}
	}
}

.institucional {
	h2 { @include titulo; }
	.texto {
		@include column-count(2);
		@include column-gap(60px);
		font-size: 12px;
	}
}

.noticias {
	h2 { @include titulo($size:36px); }
	.texto {
		ul {
			width: 100%;

			li {
				list-style: none;
				width: 100%;
				padding: 20px 0;
				margin: 0;
				border-bottom: 1px solid #c1c1c1;
				@include float-left;

				.imagem {
					@include float-left;
					width: 200px;
				}
				.dados {
					@include float-left;
					width: 615px;

					h3 {
						@include fontfamily('segoewpn-black');
						font-size: 16px;
						margin: 0;

						span {
							color: $red;
							display: block;
							width: 100%;
						}
					}

					p {
						font-size: 12px;
					}
				}
			}
		}
	}
}

.premios {
	h2 { @include titulo($size:36px); }
	.texto {
		ul {
			width: 100%;

			li {
				list-style: none;
				width: 100%;
				padding: 20px 0;
				margin: 0;
				border-bottom: 1px solid #c1c1c1;
				@include float-left;

				.imagem {
					@include float-left;
					width: 200px;
				}
				.dados {
					@include float-left;
					width: 615px;

					h3 {
						@include fontfamily('segoewpn-black');
						font-size: 16px;
						margin: 0;

						span {
							color: $red;
							display: block;
							width: 100%;
						}
					}

					p {
						font-size: 12px;
					}
				}
			}
		}
	}
}

.produtos {
	padding-top: 100px;

	.conteudo {
		@include grid_container;
		@include clearfix;
		min-height:510px;
		background:{
			color: transparent;
			image: image-url("produtos_tema_bg.jpg");
			repeat: repeat-y;
			position: 10px 0px;
		} 
		@include background-size(940px auto);
		position: relative;

		.seta {
			@include grid(1);
			height: 510px;
			position: absolute;
			top:0;

			&.esquerda {
				@include replace-text('seta_esquerda.png');
				@include alpha;
				left:0;
			}
			&.direita {
				@include replace-text('seta_direita.png');
				@include omega;
				right:0;
			}
		}

		.area {
			@include grid(14);
			@include grid-push(1);
		}

		.inicial {
			margin-top: 20px;

			.cores360 {
				@include grid(8);
				@include alpha;
				height: 450px;
				position: relative;

				.bt_video {
					position: absolute;
					@include replace-text-with-dimensions('bt_assista_video.png');
				}

				.controles {
					@include grid(6);
					@include grid-push(1);
					bottom: 0;

					.seta360 {
						@include grid(2);

						&.esquerda {
							@include replace-text('produtos_360_esquerda.png');
							@include alpha;
						}

						&.direita {
							@include replace-text('produtos_360_direita.png');
							@include omega;
						}
					}

					.lista-cores {
						@include grid(2);
						height: 50px;
						text-align: center;

						p { 
							width: 100%; 
							@include fontfamily('segoewp');
							font-size: 10px;
							margin:0;
						}

						.cor {
							width: 17px;
							height: 15px;
							text-align: center;
						}
					}
				}
			}

			.descricao {
				@include grid(6);
				@include omega;

				h2 {
					@include fontfamily('segoewpn-light');
					font-size: 60px;
					line-height: 60px;
					margin:5px 0;
				}

				.slogan {
					@include fontfamily('segoewpn-bold');
					font-style: italic;
					font-size: 18px;
					color: $red;
				}

				.icones {
					@include horizontal-list;
				}

				p {
					font-size: 12px;
				}

				.comprar-teste {
					width: 100%;
					position: relative;

					p {
						font-size: 16px;
						font-style: italic;
					}

					.comprar {
						position: absolute;
						right:0;
						top:0;
						@include replace-text-with-dimensions('bt_comprar.png');
					}
				}
			}
		}

		.especificacoes {
			padding-top:40px;

			.moto {
				@include grid(9);
				@include alpha;
				height:400px;
				background: {
					image: image-url('comet_caracs.png');
					repeat: no-repeat;
					position: center center;
				}

				ul {
					display: block;
					width: 100%;
					height: 100%;
					position: relative;

					li {
						position: absolute;
						width: 44px;
						height: 44px;

						a { 
							@include replace-text-with-dimensions('produto_lupa.png');
							display: block;
						}
						&.motor { top:200px; left:270px; }
						&.rodas { top:270px; left:380px; }
						&.painel { top:100px; left:300px; }
					}
				}
			}

			.descricao {
				@include grid(5);
				@include omega;
				position: relative;
				top:0;
				bottom:0;

				.setinha {
					width:15px;
					height:30px;
					position: absolute;
					top:50%;
					left:0;
					margin-top: -8px;
				}

				.box {
					width:280px;
					height: auto;
					padding:20px;
					margin-left:15px;
					background: {
						color:#f4f4f4;
						image: image-url('produtos_especs_icone.png');
						position: 230px 20px;
						repeat: no-repeat;
					}
					@include box-sizing(border-box);
					@include border-radius(5px);

					h3 { 
						width:220px;
						margin:0; 
					}

					ul { 
						width:100%; 
						@include no-bullets;

						li {
							@include clearfix;
							width: 100%;
							margin-bottom:5px;
							display: block;
							background:{
								image: image-url('produtos_especs_linha.jpg');
								repeat: repeat-x;
								position: center 60%;
							}

							p { 
								width: 100%;
								margin:0;
								font-size: 12px;

								span {
									padding:0 4px 0 0;
									background-color:#f4f4f4;
									@include box-sizing(border-box);
									@include float-left;
									&.valor {
										@include float-right;
										text-align: right;
										padding:0 0 0 4px;
									}
								}
							}
						}
					}
				}

			}
		}

		.caracteristicas {
			padding-top:40px;

			.moto {
				@include grid(9);
				@include alpha;
				height:400px;
				background: {
					image: image-url('comet_caracs.png');
					repeat: no-repeat;
					position: center center;
				}

				ul {
					display: block;
					width: 100%;
					height: 100%;
					position: relative;

					li {
						position: absolute;
						width: 44px;
						height: 44px;

						a { 
							@include replace-text-with-dimensions('produto_lupa.png');
							display: block;
						}
						&.motor { top:200px; left:270px; }
						&.rodas { top:270px; left:380px; }
						&.painel { top:100px; left:300px; }
					}
				}
			}

			.descricao {
				@include grid(5);
				@include omega;
				position: relative;
				top:0;
				bottom:0;

				.setinha {
					width:15px;
					height:30px;
					position: absolute;
					top:50%;
					left:0;
					margin-top: -8px;
				}

				.box {
					width:280px;
					height: auto;
					padding:20px;
					margin-left:15px;
					background: #f4f4f4;
					@include box-sizing(border-box);
					@include border-radius(5px);

					h3{ margin:0 0 10px 0; }
					p { font-size:12px; }
				}

			}
		}

		.downloads {
			padding-top: 10px;

			.wallpapers {
				@include grid(8);
				@include alpha;

				ul {
					width: 100%;
					@include horizontal-list;

					li {
						width: 220px;
						margin-bottom: 20px;

						a { 
							display: block;
							width:100%;
							height: 100%;
							padding-bottom:30px;
							background:{
								image: image-url('bt_downloads.png');
								repeat: no-repeat;
								position: center bottom;
							}

							img {
								border: 1px solid #cccccc;
								padding:5px;
							}
						}
					}
				}
			}

			.screensavar {
				@include grid(5);
				@include grid-push(1);
				@include omega;

				background:{
					image: image-url('produtos_downloads_monitor.png');
					repeat: no-repeat;
					position: center 55px;
				}

				.imagem {
					display:block;
					width:264px;
					height: 149px;
					margin: 20px 0 0 7px;
					position: relative;
					margin-bottom:70px;

					&:hover .over{display:block;};

					.over {
						display:none;
						position: absolute;
						top: 50%;
						left: 50%;
						margin: -23px 0 0 -23px;
					}
				}

				p { font-size:12px; }

				.bt-download {
					width:100%;
					height:22px;
					display: block;
					@include replace-text('bt_downloads.png');
					background-position: center center;
				}
			}
		}

		.galeria {
			.containerFoto {
				@include grid(9);
				@include alpha;

				margin-top: 40px;
			}

			.thumbs {
				@include grid(5);
				@include omega;
				@include alpha;
				margin: 40px 0;

				ul {
					width:100%;
					margin-left: -13px;
					list-style: none;

					li {
						margin: 0 0 18px 13px;
						
						width: 80px;
						height: 80px;
						@include float-left;

						a {
							display: block;
							width: 100%;
							height: 100%;
							padding-top: 3px;
							background: white;
							border: 3px solid white;
							text-align: center;
							overflow: hidden;
							@include box-sizing(border-box);
							@include border-radius(8px);
							@include box-shadow(#999999 2px 2px 10px 2px);

							&:hover {
								border: 3px solid #cc3333;
							}
						}
					}
				}
			}
		}
	}

	.menu-produtos {
		@include grid_container;
		@include clearfix;
		position: relative;
		margin-top: -18px;
		background: {
			image: image-url('produtos_menu_bg.jpg');
			position: center bottom;
			repeat: no-repeat;
			color: transparent;
		}

		a {
			@include grid(4);
			@include box-sizing(border-box);
			height: 68px;
			padding-top: 30px;
			text-align: center;
			text-decoration: none;
			color: white;
			background: {
				image: image-url('produtos_menu_item_bg.png');
				position: center 8px;
				repeat: no-repeat;
				color: transparent;
			}

			&:hover, &.atual {
				background: {
					image: image-url('produtos_menu_item_bg_sel.png');
					position: center 8px;
					repeat: no-repeat;
					color: transparent;
				}
			}
		}
	}
}