// Ellipsis
$use-mozilla-ellipsis-binding: true;

// Cores
$red: #cc3333;
$gray: #DDDDDD;
$grayLight: #EEEEEE;
$blue: #000099;
$black: #444444;

// Font
$base: 14;
$fontSize: 100%;
$fontColor: black;
$lnkColor: $red;

$ninesixty-columns: 16;